.storm {
  background-position: -45px -20px;
}

.rain {
  background-position: -200px -20px;
}

.snow {
  background-position: -275px -20px;
}

.rain-sun {
  background-position: -45px -100px;
}

.cloudly-sun {
  background-position: -120px -100px;
}

.cloudly {
  background-position: -200px -100px;
}

.sun {
  background-position: -45px -170px;
}